<!DOCTYPE html> 
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Build A Chat </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
</head>
<body class = "login-body">
    <div class = "login-container">
        <h2> ¡Bienvenido a Build A Chat!</h2>
        <p> Introduce tu nombre para continuar: </p>

        <form id = "login-form"> 
            <input type="text" id="name-input" placeholder="Ingresa tu nombre." required>
            <button type="submit" id="login-btn">Entrar</button>
        </form>
        <p id="login-error" class="error-message"></p>
    </div>
    <script src="{{ url_for('static', filename='JS/login.js') }}"></script>
</body>
</html>